body {
  color: #fff;
  background-color: #478;
}

.row {
  padding-top: 15px;
}
.row textarea {
  font-family: "Oswald", cursive;
  color: #333;
  font-size: 24px;
  width: 80%;
}

#box a {
  color: #333;
}
